* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}


header, h2 {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

p {
    text-align: left;
}

section {
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.dark-mode {
    background-color: black;
    color: white;
}